/4-natours/starter/node_modules/*
/4-natours/starter/.cache/*
/4-natours/after-section*
/4-natours/package-lock.json
package-lock.json
node_modules/*
4-natours/starter/public/js/bundle*
4-natours/starter/public/img/users/*
4-natours/starter/public/js/bundle.js.map
4-natours/starter/public/img/tours/*
